<% provide(:title, "About") %>
<h1>This is an ABOUT PAGE!</h1>

<p>This is where I will begin to talk about Baby Lilly
and how much she is loved by everyone!
I will add some random links for fun such as: <a href="http://www.railstutorial.org/book">THIS ONE RIGHT HERE!</a>
and I guess from here I can <br> Try out some other cool stuff and add: <a href='http://www.neogaf.com'><em>So this should look cool</em> right or..?</a>
so <br> lets see if <br> Baby Lilly <br> will have her own line!!

