<% provide(:title, "Help") %>

<h1>I got what you need!</h1>
<p>get help with this shameless plug of
this website im using: <a href="http://www.railstutorial.org/#help">This shameless plug doe</a>
TO get some help on buying this book just go here: <a href="http://www.railstutorial.org/book"><em>CLICK ME FOR </em>BOOK! </a>
</p>
