<% provide(:title, "Home") %>

<h1>Sample App, Baby LILLY!</h1>
<p>I need to build a website showcasing my little baby girl
oh and I guess I need to plug this:
<a href="http://www.railstutorial.org/">Ruby on rails tutorial blah bleh blah</a>
</p>
  