<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">hah they want me to plug them</a>
    BY <a href="http://www.michaelhartl.com/">This guy right here...</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">yeah totally the news</a></li>
    </ul>
  </nav>
</footer>